 .u-section-1 {
  min-height: 1152px;
}

.u-section-1 .u-shape-1 {
  height: 429px;
  margin-top: 0;
  margin-bottom: 0;
  --bottom-left-radius: 20px;
  --bottom-right-radius: 20px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-image-1 {
  height: 680px;
  width: 1140px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 30px;
  margin: -347px auto 0;
}

.u-section-1 .u-group-1 {
  width: 870px;
  min-height: 542px;
  height: auto;
  background-image: none;
  --top-left-radius: 30px;
  --top-right-radius: 30px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -152px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  --animation-custom_in-scale: 0.3;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 40px 0 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1097px;
  }

  .u-section-1 .u-image-1 {
    height: 561px;
    width: 940px;
  }

  .u-section-1 .u-group-1 {
    width: 759px;
    margin-top: -33px;
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1017px;
  }

  .u-section-1 .u-image-1 {
    height: 477px;
    width: 720px;
  }

  .u-section-1 .u-group-1 {
    width: 656px;
    min-height: 535px;
    margin-top: -76px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 897px;
  }

  .u-section-1 .u-image-1 {
    height: 357px;
    width: 540px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-top: 44px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 876px;
  }

  .u-section-1 .u-image-1 {
    height: 251px;
    width: 340px;
    margin-top: -373px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-2 {
  background-image: none;
  min-height: 498px;
}

.u-section-2 .u-group-1 {
  min-height: 416px;
  height: auto;
  margin: 0 0 60px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 3.125rem;
  margin: 80px auto 0;
}

.u-section-2 .u-list-1 {
  width: 856px;
  grid-template-rows: repeat(1, auto);
  grid-auto-rows: 100%;
  margin: 56px auto -51px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 276px;
  grid-auto-columns: 33.3333%;
  grid-gap: 0px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 21px 30px;
}

.u-section-2 .u-image-1 {
  height: 108px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 108px;
  background-image: url("images/image1.png");
  background-position: 50% 0%;
  background-size: cover;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 1.375rem;
  font-weight: 700;
  margin: 39px 0 0;
}

.u-section-2 .u-social-icons-1 {
  white-space: nowrap;
  height: 20px;
  min-height: 16px;
  width: 20px;
  min-width: 16px;
  margin: 32px auto 0;
}

.u-section-2 .u-icon-1 {
  height: 100%;
}

.u-section-2 .u-list-item-2 {
  background-size: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 21px 30px;
}

.u-section-2 .u-image-2 {
  height: 108px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 108px;
  background-image: url("images/image2.png");
  background-position: 50% 0%;
  background-size: cover;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 1.375rem;
  font-weight: 700;
  margin: 39px 0 0;
}

.u-section-2 .u-social-icons-2 {
  white-space: nowrap;
  height: 20px;
  min-height: 16px;
  width: 20px;
  min-width: 16px;
  margin: 32px auto 0;
}

.u-section-2 .u-icon-2 {
  height: 100%;
}

.u-section-2 .u-list-item-3 {
  background-size: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-4 {
  padding: 21px 30px;
}

.u-section-2 .u-image-3 {
  height: 108px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 108px;
  background-image: url("images/image3.png");
  background-position: 50% 0%;
  background-size: cover;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  font-size: 1.375rem;
  font-weight: 700;
  margin: 39px 0 0;
}

.u-section-2 .u-social-icons-3 {
  white-space: nowrap;
  height: 20px;
  min-height: 16px;
  width: 20px;
  min-width: 16px;
  margin: 32px auto 0;
}

.u-section-2 .u-icon-3 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 330px;
    grid-auto-columns: 33.333333333333336%;
  }

  .u-section-2 .u-image-1 {
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-container-layout-1 {
    padding-top: 75px;
  }

  .u-section-2 .u-list-1 {
    width: 660px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 1408px;
    grid-auto-columns: 50%;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-list-1 {
    width: 520px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 1502px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-container-layout-1 {
    padding-top: 80px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-list-1 {
    width: 320px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 783px;
}

.u-section-3 .u-text-1 {
  margin: 29px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 40px;
  margin-bottom: 0;
}

.u-section-3 .u-image-1 {
  min-height: 690px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('images/image2.jpg');
  background-position: 50% 50%;
  --radius: 30px;
}

.u-section-3 .u-container-layout-1 {
  padding: 50px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-3 .u-text-4 {
  font-size: 1rem;
  line-height: 2;
  margin: 41px 0 0;
}

.u-section-3 .u-btn-1 {
  text-transform: none;
  letter-spacing: 1px;
  font-weight: 600;
  transition-duration: 0.5s;
  --radius: 30px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  margin: 200px auto 0 0;
  padding: 19px 52px 20px 51px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 595px;
  }

  .u-section-3 .u-image-1 {
    min-height: 569px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 848px;
  }

  .u-section-3 .u-image-1 {
    min-height: 875px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 666px;
  }

  .u-section-3 .u-image-1 {
    min-height: 656px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 464px;
  }

  .u-section-3 .u-image-1 {
    min-height: 413px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.875rem;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 545px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 530px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 40px;
}

.u-section-4 .u-text-1 {
  margin: 40px 1px 0;
}

.u-section-4 .u-form-1 {
  height: 397px;
  width: 1059px;
  margin: 50px auto -9px;
}

.u-section-4 .u-form-group-3 {
  margin-left: 0;
}

.u-section-4 .u-btn-1 {
  font-weight: 600;
  letter-spacing: 1px;
  width: 100%;
  transition-duration: 0.5s;
  --radius: 30px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  background-image: none;
  font-size: 1.125rem;
  text-transform: uppercase;
  padding: 24px 0 25px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 294px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 437px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-form-1 {
    width: 860px;
  }

  .u-section-4 .u-btn-1 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-form-1 {
    margin-top: 106px;
    width: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-form-1 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-form-1 {
    margin-top: 135px;
    width: 320px;
  }
}